	body{
		position: relative;
		background-image: url("../images/leoni_bg_blurred.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		font-family:Candara;
		display: block;
		margin: auto;
		font-size: 16px;
		width: 1250px;
		height: 720px;
	}
	
		nav {
				overflow: auto;
				top: 0;
				border-style:none;
				padding-top:2px;
				margin-bottom: 0.2%;
				padding-right: 0.25%;
				padding-bottom: 0.05%;
				padding-left: 0.15%;
				vertical-align: left;
				font-family: Candara;
				font-weight: bold;
				background-color: #3de0c5;
				position:fixed;
				width: 100%;
				box-shadow: 0px 2px 5px #00cdba;
				z-index: 1000;
				}
			
			#titlepic{
				border: 10px;
				border-style: solid;
				border-color: white;
				display: block;
				margin: auto;
				}
				
				#header ul{
					list-style-type: none;
					margin:0;
					padding:0;
				}
	 
				#header li {
					display: block;
					float: left;
				}
				
				#header li a {
					display: block;
					padding:8px;
					padding-top:10px;
					padding-bottom:10px;
					text-decoration: none;
					color: black;
					margin: auto;
					text-align: center;
				}
				
				
				#header li:hover{
					background-color: #00e6cf;
				}
				
				#VS {
					padding-left: 20px;
					padding-right: 20px;
				}
				
				#leoneed{
					padding-left: 20px;
					padding-right: 20px;
				}
				
				#MMJ{
					padding-left: 20px;
					padding-right: 20px;
				}
				
				#VBS{
					padding-left: 20px;
					padding-right: 20px;
				}
				
				#WxS{
					padding-left: 20px;
					padding-right: 20px;
				}
				
				#niigo{
					padding-left: 20px;
					padding-right: 20px;
				}
				
				#twt {
					background: url('../images/hover_icons-removebg-preview.png') no-repeat -441px -91px;
					width: 37px;
					height: 37px;
					margin-left: 30px;
					margin-right: 30px;
					padding-top: 10px;
					margin-top: 9px;
					float:right;
				}
				
				#twt:hover {
					background: url('../images/hover_icons-removebg-preview.png')  no-repeat -252px -93px;
					width: 37px;
					height: 37px;
					margin-left: 30px;
					margin-right: 30px;
					padding-top: 10px;
					margin-top: 9px;
					float:right;
				}
				
				#ig {
					background: url('../images/hover_icons-removebg-preview.png') no-repeat -393px -194px;
					width: 37px;
					height: 37px;
					padding-top: 10px;
					margin-top: 9px;
					float:right;
				}
				
				#ig:hover {
					background: url('../images/hover_icons-removebg-preview.png') no-repeat -205px -195px;
					width: 37px;
					height: 37px;
					padding-top: 10px;
					margin-top: 9px;
					float:right;
				}
				
				#yt {
					background: url('../images/hover_icons-removebg-preview.png') no-repeat -488px -91px;
					width: 37px;
					height: 37px;
					margin-left: 30px;
					margin-right: 30px;
					padding-top: 10px;
					margin-top: 9px;
					float:right;
				}
				
				#yt:hover {
					background: url('../images/hover_icons-removebg-preview.png') no-repeat -300px -93px;
					width: 37px;
					height: 37px;
					margin-left: 30px;
					margin-right: 30px;
					padding-top: 10px;
					margin-top: 9px;
					float:right;
				}
			
			#titlepic{
				border: 10px;
				border-style: solid;
				border-color: white;
				display: block;
				margin: auto;
				margin-top: 10px;
				}
				
			#title {
				position: absolute;
				border: 0.5px;
				border-style: none;
				width: 90%;
				margin-bottom: 2%;
				padding-top: 1%;
				padding-right: 1.5%;
				padding-bottom: 1%;
				padding-left: 1.5%;
				text-align: left;
				font-family: Gadugi;
				color: #4455DD;
				text-shadow: 1px 1px #f54272;
				}
			
			#leonititle {
				border: 0.5px;
				border-style: none;
				margin-left: 1.5%;
				margin-top: 1%;
				padding-top: 1%;
				padding-right: 1.5%;
				padding-bottom: 0.5%;
				padding-left: 1.5%;
				position: relative;
			}
			
			#ichk {
				width: 40%;
				position: relative;
				float:right;
			}
			
			#video{
				margin: 0.1%;
				margin-bottom: 1%;
				box-shadow:  5px 5px 3px #33AAEE;
				display: block;
				margin-left: 5%;
			}
			
			#name {
				color:#33AAEE;
				padding-top: 1%;
				padding-right: 1.5%;
				padding-bottom: 1%;
				padding-left: 1.5%;
				margin-right: 5%;
				text-shadow: 1px 1px #4455DD;
			}
			
			p {
				margin-left: 20px;
			}
				
			#WARNING {
				width: 60%;
				padding-top: 1%;
				padding-right: 1.5%;
				padding-bottom: 1%;
				padding-left: 2.5%;
				border-top-right-radius: 15px;
				border-bottom-left-radius: 15px;
				border-top-left-radius: 15px;
				border-bottom-right-radius: 15px;
				margin-left: 25px;
				background-color: #4455DD;
				color: white;
			}
			
			#warningbold {
				font-weight: bold;
			}
			
			#main {
				margin-top: 5%;
			}
			
			#mainpara {
				border: 0.5px;
				border-style: none;
				background-color:#e3e6ff;
				width: cover;
				margin-left: 2%;
				margin-right: 2%;
				margin-top: 1%;
				margin-bottom: 2%;
				padding-top: 1%;
				padding-right: 1.5%;
				padding-bottom: 1%;
				padding-left: 1.5%;
				text-align: left;
				font-family: Candara;
				border-radius: 15px;
				}
			
			#ichk {
				
				display: block;
				margin: 1%;
				float: right;
				
			}
			
			#quote {
				height:cover;
				padding-top: 1%;
				padding-right: 1.5%;
				padding-bottom: 1%;
				padding-left: 1.5%;
				border-top-right-radius: 15px;
				border-bottom-left-radius: 15px;
				border-top-left-radius: 15px;
				border-bottom-right-radius: 15px;
				margin-right: 5%;
				font-style: italic;
				font-weight: bold;
				background-color: #33AAEE;
				color: white;
				font-size: 18px; 
				overflow: auto;
			}
			
			#prsk {
				color: #7ee0d2;
				font-weight: bold;
			}
			
			h2 {
			
				border: 0.5px;
				border-style: none;
				margin-bottom: 2%;
				padding-top: 1%;
				padding-right: 1.5%;
				padding-bottom: 1%;
				padding-left: 1.5%;
				text-align: left;
				font-family: Gadugi;
				color: #33AAEE;
				text-shadow: 1px 1px #4455DD;
				text-align: left;
				}
				
			#sekai {
				padding-top: 1%;
				padding-right: 15px;
				padding-bottom: 10px;
				padding-left: 15px;
				display:block;
				margin: 10px;
			}
			
			#units {
				width: 75%;
				height: 15%;
				margin: auto;
				text-align: center;
				font-size:10px;
				overflow: visible;
				
			}
			
			#charwrapper {
				height: 70%;
				overflow-y: visible;
				overflow-x: auto;
				position: relative;
				padding-top: 1%;
				padding-right: 1.5%;
				padding-bottom: 1%;
				padding-left: 1.5%;
			}
			
			#charselect {
				padding-top: 1%;
				padding-right: 1.5%;
				padding-bottom: 1%;
				padding-left: 1.5%;
				display: inline-block;
				font-family: Candara;
				font-size: 10px;
				text-align: center;
				font-weight: bold;
				margin: auto;
				position: relative;
				transition-duration:0.5s;
			}
			
				#c1select {
					border: 3px solid;
					border-radius: 15px;
					border-color: #33AAEE;
				}
				
				#c2select {
					border: 3px solid;
					border-radius: 15px;
					border-color:#FFDD45;
				}
				
				#c3select {
					border: 3px white solid;
					border-radius: 15px;
					border-color:#EE6666;
				}
				
				#c4select {
					border: 3px white solid;
					border-radius: 15px;
					border-color:  #BBDE22;
				}
				
			
				#c1caption {
					color:  #33AAEE;
				}
			
				#c2caption {
					color:  #FFDD45;
				}
				
				#c3caption {
					color: #EE6666;
				}
				
				#c4caption {
					color:   #BBDE22;
				}
				
				#charselect:hover {
					transform:scale(110%);
				}
				
				
				#gallery {
				padding-top: 1%;
				padding-right: 1.5%;
				padding-bottom: 1%;
				padding-left: 1.5%;
				}
				
				#MV {
					height: 70%;
					overflow: auto;
					margin: auto;
				}
				
				
				#MVs {
					padding-top: 1%;
					padding-right: 1.5%;
					padding-bottom: 1%;
					padding-left: 1.5%;
					width: 56%;
					text-align: center;
					display:block;
					margin: auto;
				}
				
				#navigation {
					width: cover;
					margin-left: 2%;
					margin-right: 2%;
					margin-top: 1%;
					margin-bottom: 2%;
					padding-top: 1%;
					padding-right: 1.5%;
					padding-bottom: 1%;
					padding-left: 1.5%;
					text-align: left;
					font-family: Candara;
					border-radius: 15px;
					border: 0.5px px grey;
					background-color: white;
					font-size:11px;
				}
				
				#navigation a {
					text-decoration: none;
					color: black;
				}
				
				#VSnav {
					width: cover;
					margin-left: 2%;
					margin-right: 2%;
					margin-top: 0.1%;
					margin-bottom: 0.1%;
					padding-top: 1%;
					padding-right: 1.5%;
					padding-bottom: 1%;
					padding-left: 1.5%;
					text-align: left;
					font-family: Candara;
					border: 0.5px px grey;
					background-color:#208a8a;
					color: white;
				}
				
				#VSnav li a {
					color: white;
				}
				
				#lnnav {
					width: cover;
					margin-left: 2%;
					margin-right: 2%;
					margin-top: 0.1%;
					margin-bottom: 0.1%;
					padding-top: 1%;
					padding-right: 1.5%;
					padding-bottom: 1%;
					padding-left: 1.5%;
					text-align: left;
					font-family: Candara;
					border: 0.5px px grey;
					background-color:#4455DD;
					color: white;
				}
				
				#lnnav li a {
					color: white;
				}
				
				#mmjnav {
					width: cover;
					margin-left: 2%;
					margin-right: 2%;
					margin-top: 0.1%;
					margin-bottom: 0.1%;
					padding-top: 1%;
					padding-right: 1.5%;
					padding-bottom: 1%;
					padding-left: 1.5%;
					text-align: left;
					font-family: Candara;
					border: 0.5px px grey;
					background-color:#6CCB20;
					color: white;
				}
				
				#mmjnav li a {
					color: white;
				}
				
				#vbsnav {
					width: cover;
					margin-left: 2%;
					margin-right: 2%;
					margin-top: 0.1%;
					margin-bottom: 0.1%;
					padding-top: 1%;
					padding-right: 1.5%;
					padding-bottom: 1%;
					padding-left: 1.5%;
					text-align: left;
					font-family: Candara;
					border: 0.5px px grey;
					background-color:#EE1166;
					color: white;
				}
				
				#vbsnav li a {
					color: white;
				}
				
				#WxSnav {
					width: cover;
					margin-left: 2%;
					margin-right: 2%;
					margin-top: 0.1%;
					margin-bottom: 0.1%;
					padding-top: 1%;
					padding-right: 1.5%;
					padding-bottom: 1%;
					padding-left: 1.5%;
					text-align: left;
					font-family: Candara;
					border: 0.5px px grey;
					background-color:#FF9900;
					color: white;
				}
				
				#WxSnav li a {
					color: white;
				}
				
				#niigonav {
					width: cover;
					margin-left: 2%;
					margin-right: 2%;
					margin-top: 0.1%;
					margin-bottom: 0.1%;
					padding-top: 1%;
					padding-right: 1.5%;
					padding-bottom: 1%;
					padding-left: 1.5%;
					text-align: left;
					font-family: Candara;
					border: 0.5px px grey;
					background-color: #884499;
					color: white;
				}
				
				#niigonav li a {
					color: white;
				}
				
				#copyright {
					font-size:9px;
				}
				
				#References {
					color: white;
					font-size:9px;
				}
				#citetitle {
					font-style: italic;
				}
				
				a {
					text-decoration: none;
				}
				
			